
[submodule "vendor/glfw/glfw-src"]
	path = vendor/glfw/glfw-src
	url = https://github.com/glfw/glfw.git

[submodule "vendor/imgui/imgui-src"]
	path = vendor/imgui/imgui-src
	url = https://github.com/ocornut/imgui.git
	branch = docking
